body {
  background-image: url(../Trabalho-de-PI-2-/img/Fundo/Site.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 75px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(img/fundosite.png);
}

.container {
  display: flex;
  justify-content: center;
}

.menu {
  text-align: center;
  border-radius: 4px;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgb(37, 37, 37);
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu a:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 5px;
}

