body {
  background: linear-gradient(to right, #4d4d4d, #202020);
  margin: 75px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 500px;
}

.menu {
  background-color: #202020;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  background: linear-gradient(to right, #646060, #3b3a3a);
  color: #fff;
  transform: scale(1.1);
}
