* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e5e2d5;
  }
  
  .header {
    background-image: linear-gradient(to bottom, #333333, #333333);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(15, 15, 15, 15);
  }
  

  .title {
    color: #e5e2d5;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
  }
  
 /* Estilos para o título da página */
 h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #808080;
  }
  
  /* Estilos para os links */
  a {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to bottom, #e5e2d5, #e5e2d5);
    padding: 10px 20px;
    border: 2px solid #1d1e20;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  
  /* Estilos para os links em hover */
  a:hover {
    background: linear-gradient(to bottom, #d4d0be, #b9b7ab);
    text-shadow: 1px 1px 2px #e5e2d5;
    transform: scale(1.1);
  }
  
  /* Estilos para os links em active */
  a:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  
  
  nav a {
    display: flex;
    padding: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  /* Estilos específicos para a seção de Funções de Linguagem */
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  
  #funcoesdelinguagem {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 2px;
  }
  
  #variacaolinguistica {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 2px;
  }
  
  #preconceitolinguistico {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin: 2px;
  }
  
  #linguagemcoloquial {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 2px;
  }
  
  #linguagemcultaecoloquial {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 2px;
  }
  
  #linguagemculta {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin: 2px;
  }
  
  #generostextuais {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 2px;
  }
  
  #tiposdegenerostextuais {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: 2px;
  }
  
  #textonarrativo {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    margin: 3px;
  }
  
  