/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  background-color: #7a3f3f11;
}

.container {
  max-width: 800px;
  color: #000000;
  background-color: #d1d1d167;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.61);
}

.referencial {
  text-decoration: underline;
  color: rgba(83, 83, 83, 0.774);
  transition: box-shadow 0.3s ease;
}

.referencial:hover {
  color: #000000;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 5px;
}

.title1 {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  margin-bottom: 20px;
  background-image: url(../img/fundosite.png);
}

.menu a {
  display: inline-block;
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  background-color: #e0e0e0;
  color: #000000;
  transform: scale(1.1);
}

.menu a.active {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

p {
  text-align: justify;
  text-indent: 1.25cm;
}

.referencias {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.reference, .reference1, .reference2, .reference3 {
  margin-bottom: 10px;
}

.reference, .reference1, .reference2, .reference3  {
  font-size: 12px;
  text-indent: 1.5em;
}

.reference .italic {
  font-style: italic;
}
/* Referência 1 */
.reference1 {
  position: relative;
}

.reference1::after {
  content: attr(data-text);
  position: absolute;
  top: -170px;
  left: -120px;
  width: 1000px;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.reference1:hover::after {
  opacity: 1;
}

/* Referência 2 */
.reference2 {
  position: relative;
}

.reference2::after {
  content: attr(data-text);
  position: absolute;
  top: -200px;
  left: -120px;
  width: 1000px;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.reference2:hover::after {
  opacity: 1;
}

/* Referência 3 */
.reference3 {
  position: relative;
}

.reference3::after {
  content: attr(data-text);
  position: absolute;
  top: -225px;
  left: -120px;
  width: 1000px;
  padding: 10px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.reference3:hover::after {
  opacity: 1;
}


/* Estilos do cabeçalho */
.header {
  background-image: url("../img/Fundo\ fundosite.png");
  color: #161212;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Estilos das seções */
section {
  margin-bottom: 40px;
}

/* Estilos dos links de navegação */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer{
  background-color: rgb(22, 21, 21);
  color:rgba(228, 228, 228, 0.774);
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#menuu{
background-color: #161212;

}
